/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
}

body {
  background: #f1faeed2;
  height: auto;
  
}

.interface{
  max-width: 2000px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

h2.titulo{
  font-size: 38px;
  color: #2b2b2e;
}

/* ESTILO DO CABEÇALHO */

header {
  background: #778da9e6;
  color: white;
  padding: 20px 40px;
  text-align: center;
}

header > .interface{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  padding: 20px 4%; /* Adiciona um respiro em cima e embaixo */
    min-height: 80px;
  
}

header a{
  color: white;
  text-decoration:none
  display: inline-block;
  transition: .2s;
}

header a:hover{
  color: white;
  transform: scale(2);
}

header nav ul{
  list-style-type:none;
}

header nav ul li{
  display: inline-block;
  padding: 0 15px;
}

nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #212427;
  font-weight: bold;
}


section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
  color: #424d57fa;
}

ul {
  list-style: square;
  margin-left: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.card a {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background: #576b7e8a;
  color: white;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
  gap:50px
  padding: 50px 4%;
  margin-top: 60px;
}

section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
  gap: 90px

} 

img{
max-width: 250%;      /* Garante que a imagem não ultrapasse o limite */
    height: 800x;
}

.topo-do-site .txt-topo-site p{
  margin:40px 0;
}

.topo-do-site h1 span{
  color: #a8dadc;
}

/* ESTILO DAS HABILIDADES */
section.habilidades {
  
  padding: auto auto;
}

section.habilidades .flex{
  flex-wrap: wrap;
  gap: 30px;
}

.habilidade-box{
  background: rgba(255, 255, 255, 0.786);
  padding: 20px;
  border:2px solid #a8dadc;
  border-radius: 20px;
  transition:.2s;
  
}

.habilidade-box:hover{
  transform: scale(1.05);
  background: white;
  padding: 20px;
}

.habilidade-box i{
    font-size:30px;
    color:#005f73;
    margin-bottom:100px;
}

.habilidade-box h3{
    margin-bottom:20px;
    color:#0a2540;
    front-size:auto;
}

.habilidade-box ul{
    margin-left:20px;
}

/*ESTILO SOBRE MIM*/
section.sobre {
  padding: 60px auto;
  
}

.img-sobre-mim{
  width: 250px;          /* tamanho da foto */
  height: 400px;
  border-radius: 60%;    /* deixa redonda */
  object-fit: cover;
  flex-shrink: 0;      /* Garante que a imagem não ultrapasse o limite */
  margin-top: 20px;    
}
section.sobre .flex{
 
  gap: 60px;

}
section.sobre .txt-sobre p{
  
  margin:40px 0;
  display: flex;
  flex: 2;
  margin-bottom: 25px;     
  text-align: justify;
  font-size: 1.1rem;       /* Opcional: aumenta um pouco a letra para preencher melhor */
  line-height: 1.7;
}

section.sobre h2 {
    text-align: auto;
    width: 100%;
    margin-bottom: px; /* Espaço entre o título e o conteúdo abaixo */
}

/*ESTILO EXPERIENCIA*/

section.experiencia {
  padding: 60px auto;
  
}
section.experiencia .flex {
    display: flex;
    align-items: flex-start; /* Alinha os topos */
    gap: 80px;               /* Aumenta o espaço lateral entre foto e texto */
}

section.experiencia .txt-experiencia h3 {
    text-align: auto;
    width: 100%;
    margin-bottom: px;
}
.txt-experiencia ul {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    list-style-type: disc;
    line-height: 1.6;
    justify-content: justify;
}
/*ESTILO PORTFOLIO*/
section.portfolio {
  padding:60px 4%;
  box-shadow: 0 0 40px 10px #778da969;
  
}
section.portfolio .flex {
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.img-port{
  margin-top: 20px;
  width: 35%;          /* tamanho da foto */
  height:250px;
  background-size: cover;
  background-position: 100% 0%;
  border-radius: 40px;           
  transition: 0.4s;
  position: relative;
  
}

.img-port:hover{
  background-position: 100% 100%;
  transform: scale(1.05);

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background-color: #0e12138d;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  
}

.overlay:hover{
    opacity: 1;
    transform: scale(1.05);               /* MOSTRA o título no hover */
}

section.portfolio .txt-portfolio h3{
    text-align: auto;
    width: 100%;
    margin-bottom:50 px;
    margin-inline-end: 20px;
    display: block;
}

.projeto-box h3 {
    margin-bottom: 15px;
    margin-top: 25px;
}

/*ESTILO CONTATO*/
section.contato  {
  padding:60px 4%;
}

section.contato .flex {
  margin-top: 20px;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
section.contato-box{
  background: rgba(255, 255, 255, 0.786);
  padding: 20px;
  border:2px solid #a8dadc;
  border-radius: 20px;
  transition:.2s;
  gap: 40px;
  display: flex;
  flex-direction: column;
  
}
section.contato-box:hover{
  transform: scale(1.05);
  background: white;
  padding: 20px;
  gap:20px;
}

section.contato h2 {
    margin-top: 20px;
}

.lista-contato {
    display: flex;
    flex-direction: column; /* FORÇA UM EMBAIXO DO OUTRO */
    gap: 20px;              /* CRIA O ESPAÇO ENTRE AS LINHAS */
    margin-top: 30px;       /* Afasta do título de cima */
    align-items: flex-start; /* Alinha tudo à esquerda */
}

html {
    scroll-behavior: smooth;

}


